<a href="https://colab.research.google.com/github/carvelaz/DAGC_Info/blob/main/Copia_de_An%C3%A1lisis_de_Datos_Informa_Chaco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análisis de Datos

# ETL (Extracción, Transformación y Carga)

## 1.Extracción (Extract)

In [5]:
from google.colab import drive
import pandas as pd
import chardet

# Montamos Google Drive para acceder al archivo
drive.mount('/content/drive', force_remount=True)

ruta_archivo = '/content/drive/MyDrive/Colab_Notebooks/ventas.csv'
with open(ruta_archivo, 'rb') as f:
    result = chardet.detect(f.read())

try:
    df = pd.read_csv(ruta_archivo, encoding=result['encoding'] , sep=';', decimal=',')
    print('Extracción de datos exitosa')
except FileNotFoundError:
    print(f'El archivo no se encontró en la ruta especificada.{ruta_archivo}')

# ruta_archivo = '/content/drive/MyDrive/Colab_Notebooks/ventas_transformadas.csv'
# with open(ruta_archivo, 'rb') as f:
#     result = chardet.detect(f.read())

# try:
#     df = pd.read_csv(ruta_archivo, encoding=result['encoding'] , sep=';', decimal=',')
#     print('Extracción de datos exitosa')
# except FileNotFoundError:
#     print(f'El archivo no se encontró en la ruta especificada.{ruta_archivo}')

Mounted at /content/drive
Extracción de datos exitosa

In [6]:
# Muestra las primeras 5 filas del Dataframe
df.head(5)

,Tienda,Marca,Tipo,Gï¿½nero,Talla,Color,Categoria,precio de venta,Fecha,Hora
0,Lima,Asics,WB1820,Femenino,42,Azul,Pantalon,89.00,15/07/2015,07:32:00
1,Lima,Asics,Kayano Single Tab,Usinex,42-44,Azul,Ropa interior,24.99,15/07/2015,07:33:00
2,Lima,Asics,WB1820,Femenino,37,Rosado,Pantalon,89,15/07/2015,07:52:00
3,Lima,Asics,WB2585,Femenino,39,Negro,Pantalon,99,15/07/2015,07:58:00
4,Lima,Asics,WB1820,Femenino,46,Multicolor,Pantalon,89,15/07/2015,08:19:00

In [ ]:
# Generar estádisticas descriptivas de las comlumnas numéricas
df.describe()

           precio                     fecha_hora
count  800.000000                            800
mean    83.175112  2015-07-18 07:26:51.975000064
min     12.990000            2015-07-15 07:32:00
25%     21.000000            2015-07-16 13:04:30
50%     89.000000            2015-07-17 16:28:00
75%     99.000000            2015-07-19 23:36:00
max    239.000000            2015-07-22 23:06:00
std     55.146881                            NaN

In [9]:
# Resumen de la información del Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tienda      800 non-null    object
 1   marca       800 non-null    object
 2   tipo        800 non-null    object
 3   genero      800 non-null    object
 4   talla       800 non-null    object
 5   color       800 non-null    object
 6   categoria   800 non-null    object
 7   precio      800 non-null    float64
 8   fecha_hora  800 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 56.4+ KB

##2.Transformación (Transform)

In [7]:
# Renombrar columnas para facilitar el acceso y evitar caracteres especiales
df.rename(columns = {
    'Tienda': 'tienda',
    'Marca': 'marca',
    'Tipo': 'tipo',
    'Gï¿½nero': 'genero',
    'Talla': 'talla',
    'Color': 'color',
    'Categoria': 'categoria',
    'precio de venta': 'precio',
    'Fecha': 'fecha',
    'Hora': 'hora'
}, inplace=True)

print('Transformación de datos exitosa')

Transformación de datos exitosa

In [8]:
# Converti la columna 'precio' a numérica y redondear a 2 decimales
df['precio'] = df['precio'].astype(str)
df['precio'] = df['precio'].str.replace(',', '.', regex=True).astype(float).round(2)

# Limpiar y unificar los datos de la columna 'genero'
df['genero'] = df['genero'].str.replace('Masculino', 'M',regex=False).str.replace('Femenino', 'F', regex=False).str.replace('Usinex', 'U', regex=False)

# Crear una columna de fecha y hora combinada y convertirla al tipo datatime
df['fecha_hora'] = pd.to_datetime(df['fecha'] + ' ' + df['hora'], format='%d/%m/%Y %H:%M:%S')

# Eliminar las columnas fecha y hora y dejar solo 'fecha_hora'
df.drop(['fecha', 'hora'], axis=1, inplace=True)

In [ ]:
# Converti la columna 'precio' a numérica y redondear a 2 decimales
df['precio'] = df['precio'].astype(str)
df['precio'] = df['precio'].str.replace(',', '.', regex=True).astype(float).round(2)

print('Transformación de datos exitosa')
df.head(5)

In [ ]:
# Limpiar y unificar los datos de la columna 'genero'
df['genero'] = df['genero'].str.replace('Masculino', 'M',regex=False).str.replace('Femenino', 'F', regex=False).str.replace('Usinex', 'U', regex=False)

print('Transformación de datos exitosa')
df.head(5)

In [ ]:
# Crear una columna de fecha y hora combinada y convertirla al tipo datatime
df['fecha_hora'] = pd.to_datetime(df['fecha'] + ' ' + df['hora'], format='%d/%m/%Y %H:%M:%S')

print('Transformación de datos exitosa')
df.head(5)

In [ ]:
# Eliminar las columnas fecha y hora y dejar solo 'fecha_hora'
df.drop(['fecha', 'hora'], axis=1, inplace=True)

print('Transformación de datos exitosa')
df.head(5)

In [10]:
# Dedocráticamente tomamos la primera aparición numérica y descartamos el resto.
# Tomamos el valor de la izquierda si hay un guión
#df['talla'] = df['talla'].astype(str).apply(lambda x: x.split('-')[0].split('/')[0].split(' ')[0])

# Ahora, convertimos a tipo numérico (entero)
#df['talla'] = pd.to_numeric(df['talla'], errors='coerce').astype('Int64')

# Eliminar filas con tallas nulas o no numéricas después de la conversión
# Pero perdemos datos al hacerlos por los dataframes que tiene letras en talle
#df = df.dropna(subset=['talla'])

# Chequeamos que valores se encuentran en el dataset 'talla'
print(df['talla'].unique())

['42' '42-44' '37' '39' '46' '38' '38-40' '44' '40' '70F' '41' '45'
 '36-38' '40-42' '46-48' '80A' '80B' '80C' '43' '36' '80F' '44-46' '85F'
 '70B' '80E' '90B' '90F' '65D' '70D' '75D' '70E' '90E' '85D' '65E' '75A'
 '75B' '80D' '85A' '75E' '65B' '75F' '90D' '85C' '65F' '75C' '65A' '65C']

In [11]:
print(df['categoria'].unique())

['Pantalon' 'Ropa interior' 'Zapatillas' 'Sujetadores']

In [12]:
print(df.groupby('categoria')['talla'].unique())

categoria
Pantalon              [42, 37, 39, 46, 38, 40, 41, 45, 43, 36, 44]
Ropa interior           [42-44, 38-40, 36-38, 40-42, 46-48, 44-46]
Sujetadores      [70F, 80A, 80B, 80C, 80F, 85F, 70B, 80E, 90B, ...
Zapatillas            [44, 39, 42, 37, 38, 41, 40, 43, 45, 46, 36]
Name: talla, dtype: object

In [13]:
print(df.groupby('tipo')['talla'].unique())

tipo
Air Zoom                                                [42, 44, 38, 45, 36, 43, 39, 40]
Boston 5                                            [36, 42, 37, 40, 46, 41, 43, 39, 44]
Cummulus 17                                 [44, 38, 39, 40, 41, 46, 43, 37, 45, 36, 42]
Dri-Fit No-Show                               [40-42, 42-44, 46-48, 44-46, 38-40, 36-38]
Free 5.0                                        [38, 40, 43, 45, 37, 42, 46, 36, 44, 39]
Gel Quantics                                                                [37, 46, 41]
Hera Deux Single Tab                          [42-44, 40-42, 46-48, 38-40, 36-38, 44-46]
Hyper Elite Crew                              [38-40, 44-46, 40-42, 42-44, 36-38, 46-48]
Kayano Single Tab                             [42-44, 44-46, 36-38, 46-48, 40-42, 38-40]
MB1878                                      [38, 46, 37, 40, 44, 42, 43, 41, 39, 36, 45]
Nike Elite Match Fit Mercurial Crew           [38-40, 36-38, 42-44, 46-48, 40-42, 44-46]
Nimbus 17                                                   [39, 41, 44, 46, 42, 38, 43]
Pro Classic                                          [70F, 70E, 65E, 75B, 75F, 90F, 75E]
Pro Fierce                             [70F, 80B, 80C, 85F, 70B, 90B, 90F, 90E, 70D, ...
Pro Hero                               [80A, 65D, 70D, 75D, 80D, 85F, 80B, 65B, 90D, ...
Pro Indy                                        [80F, 80E, 85D, 70F, 65E, 70D, 70E, 65C]
Quick Light Cushion                           [36-38, 40-42, 46-48, 42-44, 38-40, 44-46]
Rocket Boost                                        [43, 46, 39, 45, 41, 36, 44, 37, 40]
Ultra Boost                                                     [41, 46, 36, 44, 39, 38]
WB1820                                      [42, 37, 46, 39, 40, 41, 45, 38, 43, 36, 44]
WB2585                                          [39, 46, 40, 44, 41, 38, 37, 36, 45, 43]
Name: talla, dtype: object

In [14]:
print(df.groupby(['tienda','marca'])['precio'].sum().reset_index())

       tienda   marca    precio
0        Lima  Adidas   5073.00
1        Lima   Asics  24592.39
2        Lima    Nike  19633.00
3  Provincias  Adidas   1184.00
4  Provincias   Asics  14119.70
5  Provincias    Nike   1938.00

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tienda      800 non-null    object
 1   marca       800 non-null    object
 2   tipo        800 non-null    object
 3   genero      800 non-null    object
 4   talla       800 non-null    object
 5   color       800 non-null    object
 6   categoria   800 non-null    object
 7   precio      800 non-null    float64
 8   fecha_hora  800 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 56.4+ KB

##3. Carga (Load)

In [16]:
# Definir la ruta de salida apra guardar el nuevo CSV
ruta_salida = '/content/drive/MyDrive/Colab_Notebooks/ventas_transformadas.csv'

#Guardar el dataframe transformado en un nuevo archivo CSV en Drive
df.to_csv(ruta_salida, index=False, sep=',')
print(f'El archivo se ha guardado en: {ruta_salida}')

El archivo se ha guardado en: /content/drive/MyDrive/Colab_Notebooks/ventas_transformadas.csv